---
layout: default
---

<div class="main-page">
    {% for app in site.data.screenshots %}
    <div class="app-page">
        <div class="app-header">
            <div class="app-icon">
                <img src="/assets/screenshots/{{app.prefix}}/appicon.png" alt="">
            </div>
            <div class="app-info">
                <h2 class="app-name">{{app.name}}</h2>
                <div class="app-platform">
                    {% for plt in app.platform %}
                    <div class="app-platform-badge">{{plt}}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="app-download">
                <a href="{{app.link}}" target="_blank">
                    <img src="/assets/img/download-button.svg" alt="">
                </a>
            </div>
        </div>
        <div class="app-description">
            <p>{{app.description}}</p>
        </div>
        <div class="app-body">
            <div class="prev-button">
                <img src="/assets/img/prev-button.svg" alt="">                
            </div>
            <div class="app-screenshots-scroller">
                <div class="app-screenshots">
                    {% for image_name in app.images %}
                    <div class="app-screenshots-item">
                        <img src="/assets/screenshots/{{app.prefix}}/{{image_name}}.jpg" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="next-button">
                <img src="/assets/img/next-button.svg" alt="">     
            </div>
        </div>
    </div>
    {% endfor %}
</div>
