.page-header-wrapper {
  width: 100%;
  border-bottom: 1px solid #E8E8ED;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  max-width: 128 * $unit;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .site-icon {
    display: flex;
    margin: 0;
    padding: 0 0 0 12 * $unit;

    img {
      height: 24px;
    }
  }

  .site-menu {
    display: flex;
    list-style: none;
    font-weight: 500;
    padding: 0 100px 0 0;
    font-size: 18px;

    a:visited {
      color: $dark-color;
    }

    .active {
      a {
        color: #000000 !important;
      }
    }

    li {
      &:not(:first-child) {
        margin-left: 22px;
      }
    }
  }
}

.main-page {
  flex: 1;
  max-width: 128 * $unit;
  display: flex;
  width: 100%;

  .app-page {

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5 * $unit 0 8 * $unit 0;

    .app-header {

      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      flex: 1 0;

      padding: 0 $unit * 12;

      .app-icon {
        img {
          width: 10 * $unit;
          height: 10 * $unit;
          display: block;
        }

        border-radius: 16px;
        overflow: hidden;
        margin-right: $unit * 4;
        border: 1px solid #00000020;
      }

      .app-info {
        display: flex;
        flex-direction: column;
        row-gap: 6px;

        .app-name {
          font-size: 30px;
          margin: 0;
          font-weight: 600;
          padding: 0;
        }

        .app-platform {
          font-size: 18px;
          display: flex;
          column-gap: 4px;

          .app-platform-badge {
            color: $grey-color;
            padding: 2px 12px;
            border-radius: 4px;
            background-color: #f2f2f2;
          }
        }
      }

      .app-download {
        flex: 1;
        display: flex;
        justify-content: right;

        img {
          height: $unit * 8;
          width: $unit * 15;
        }
      }
    }

    .app-description {
      margin: 24px 0 32px 0;
      color: black;
      flex-grow: 1;

      padding: 0 $unit * 12;

      p {
        font-size: 22px;
        padding: 0;
        height: 64px;
        text-align: left;
        vertical-align: middle;
        line-height: 30px;
        margin: 0;
      }
    }

    .app-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .app-screenshots {
        display: flex;
        flex-direction: row;
        column-gap: 4 * $unit;

        .app-screenshots-item {
          display: flex;
          border-radius: 14px;
          overflow: hidden;
          border: 1px solid #00000010;
          img {
            width: 256px;
            height: 552px;
            object-fit: cover;
          }
        }
      }

      .prev-button,.next-button {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;

        svg {
          width: 16px;
        }
      }
    }
  }
}

.page-footer-wrapper {
  width: 100%;
  border-top: 1px solid $grey-lighter-color;
}

.page-footer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.resources-section {
  width: 100%;
  padding: 0 12 * $unit;
  border-bottom: 1px solid $grey-lighter-color;
  display: flex;
  align-items: center;
  justify-content: center; 
  background-color: #fafafa;
}

.resources-section-box {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  max-width: 1024px;
  color: $grey-color;
  padding: 40px $unit * 12;
  column-gap: 32px;

  .copyrigiht-anouncement {
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    p {
      max-width: 303px;
      line-height: 18px;
      color: $dark-color;
    }
  }

  .resources-group {
    font-size: 14px;
    padding: 0;

    ul {
      color: $dark-color;
      list-style: none;
      padding: 0px;
      margin: 12px 0 0 0;
    }

    li {
      &:not(:last-child) {
        margin: 8px 0 8px 0;
        padding: 0;
      }
    }

    li {
      a {
        color: $dark-color;
      }

      a:visited {
        color: $dark-color;
      }
    }

    .group-title {
      font-size: 14px;
      font-weight: 600;
      color: $dark-color;
      margin: 0;
    }
  }
}

.page-footer {

  .quote-section {
    display: flex;
    padding: 4px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid $grey-lighter-color;
  }

  .site-description-group {
    color: $grey-color;
    width: 100%;
    font-size: 14px;
    font-weight: 450;
    text-align: center;
  }
}

.page-footer {
  .copyright-section {
    width: 100%;
    padding: 32px 12 * $unit;
    max-width: 1024px;
    font-size: 14px;
    font-weight: 450;
    color: $grey-color;
    margin: 0;
    display: flex;
    justify-content: space-between;
    
    .copyright {
      padding: 0;
    }

    .day-created-label {
      padding: 0;
    }

    .day-created {
      font-family: $monospace-font-family;
      color: $dark-color;
      font-weight: bold;
    }
  }
}