blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  margin-left: 0;
  @include relative-font-size(1);
  letter-spacing: 0px;

  > :last-child {
    margin-bottom: 0;
  }
}

.post-wrapper {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit * 4;

  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 6));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 6));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.post-title-wrapper {
  display: flex;
  margin-bottom: $spacing-unit;
  flex-direction: row;
  justify-content: center;

  .post-title {
    @include relative-font-size(2.5);
    letter-spacing: 0.2px;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
  }
}

.post-meta {
  color: $grey-darken;
  @include relative-font-size(1.2);

  display: flex;
  flex-direction: row;
  justify-content: center;

  .post-meta-date,.post-meta-author {
    padding: 0;
    margin: 0 10px 0 0;
  }

  .post-meta-cate {
    display: inline;
  }

  margin-bottom: $spacing-unit;

}

.post-list-heading {
  @include relative-font-size(1.75);
}


.post-image-viewer {
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 101;
  text-align: center;
  cursor: zoom-out;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;

  .image-viewer-wrapper {
    position: relative;
    height: 100%;
  }
  
  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

pre,
code {
  font-family: $monospace-font-family;
  @include relative-font-size(0.9375);
  border-radius: 6px;
  background-color: $code-background-color;
  color: $code-color;
}

code {
  padding: 2px 8px;
  line-height: 20px;
  font-size: 14px;
}

pre {
  padding: 16px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  a {
    color: $blue-theme-color;
  }

  a:visited {
    color: $blue-theme-color;
  }

  p {
    color: $black-color;
    line-height: 32px;
    margin-bottom: 20px;
    word-break: normal;
    overflow-wrap: anywhere;
  }

  blockquote p{
    color: $grey-color;
  };

  img {
    cursor: zoom-in;
    width: 100%;
  }

  h1 {
    @include relative-font-size(1.7);
    font-weight: bold;
    margin-top: 30px;
  }

  h2 {
    @include relative-font-size(1.5);
    font-weight: bold;
    margin-top: 40px;
  }

  h3 {
    @include relative-font-size(1.2);
    font-weight: bold;
    margin-top: 20px;

  }

  h4 {
    @include relative-font-size(1);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }

  li {
    line-height: 32px;
  }
}

.post-content :not([href])[id]:before {
  content: " ";
  display: block;
  height: 5rem;
  margin-top: -5rem;
  pointer-events: none;
  visibility: hidden;
}

.post-gotop-button {
  position: fixed; 
  right: 30px; 
  bottom: 30px;
  visibility: hidden;

  .gotop-button {
    display: block; 
    width: 40px; 
    height: 40px; 
    background-color: $background-color;
    border-radius: 100%; 
    box-shadow: 0 1px 3px rgba(18,18,18,.2); 
    display: flex; 
    align-items: center;
    justify-content: center;
  }

  .gotop-button:hover {
    .gotop-svg {
      fill: #666;
    }
  }

}

.sidebar {
  display: block; 
  position: fixed; 
  top: 100px;
  width: 120px;
  text-overflow: clip;
  
  .sidebar-content {
  display: flex; 
  flex-direction: column;
  }

  @include media-query($on-laptop) {
    visibility: hidden;
  }

  .sidebar-category {
    font-size: 14px;
    text-align: left; 
    padding: 10px 0px;
    border-right: 1px solid $grey-lighter-color;

    .category-header {
      margin: 10px 0px; 
      padding: 0px 15px;
      font-weight: bold;
      font-size: 18px;
    }

    .category-list {
      list-style: none; margin: 0px 0px; padding: 0px;
    }

    .category-item {
      margin: 5px 0px; 
      padding: 4px 15px;
    
      a {
        display: block;
        color: $grey-color;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 14px;
        letter-spacing: 0.1px;
      }
    }

    .category-item .current {
      font-size: 14px;
      color: $blue-theme-color;
      font-weight: bold;
    }

    .category-item a:hover {
      text-decoration: none;
      color: $blue-theme-color;
      font-weight: bold;
    }

  }
}