<footer class="page-footer">
    <div class="resources-section">
        <div class="resources-section-box page-box-wrapper">
            <div class="resources-group">
                <h2 class="group-title">Apps</h2>
                <ul>
                    <li>Duo</li>
                    <li>Flow Writer</li>
                    <li>Custap</li>
                    <li>Dart Map</li>
                    <li>Monent Journal</li>
                </ul>
            </div>
            <div class="resources-group">
                <h2 class="group-title">Resources</h2>
                <ul>
                    <li>Contact</li>
                    <li><a href="/updates">Updates</a></li>
                    <li><a href="/terms-of-use">Terms of Use</a></li>
                    <li>Privacy Policy</li>
                </ul>
            </div>
    
            <div class="copyrigiht-anouncement">
                <p>Apple, MacBook, the Apple logo, iPad, and iPhone are trademarks of Apple Inc. App Store is a
                    service
                    mark of Apple Inc.</p>
            </div>
        </div>
    </div>
    
    <div class="footer-section">
        <div class="footer-section-box page-box-wrapper">
            <p class="copyright">© 2022 Varyware. All rights reserved.</p>
            <p class="day-created-label"><span class="day-created" id="day-created">3345</span> days since created
            </p>
        </div>
    </div>
</footer>

{% include scroll_to_top.html %}