<footer class="page-footer-wrapper">
    <div class="page-footer">
        <div class="resources-section">
            <div class="resources-section-box page-box-wrapper">
                <div class="resources-group">
                    <p class="group-title">Apps</p>
                    <ul>
                        <li><a href="https://itunes.apple.com/app/musicplus/id1626398921?mt=8&ct=homepage" target="_blank">Music Plus</a></li>
                        <li><a href="https://itunes.apple.com/app/id1628120600?mt=8&ct=homepage" target="_blank">Clip Jar</a></li>
                    </ul>
                </div>
                <div class="resources-group">
                    <p class="group-title">Resources</p>
                    <ul>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="mailto:feedback@varyware.com">Email</a></li>
                        <li><a href="https://twitter.com/vary_ware" target="_blank">Twitter</a></li>
                        <li><a href="/terms-of-use/" target="_blank">Terms Of Use</a></li>
                    </ul>
                </div>

                <div class="copyrigiht-anouncement">
                    <p>Apple, MacBook, the Apple logo, iPad, and iPhone are trademarks of Apple Inc. App Store is a
                        service
                        mark of Apple Inc.</p>
                </div>
            </div>
        </div>

        <!-- {% include quote_section.html %} -->

        <div class="copyright-section">
            
            <p class="copyright">© 2022 Varyware.</p>
            <p class="day-created-label"><span class="day-created" id="day-created">3345</span> days since created
            </p>
            
        </div>
    </div>
</footer>

{% include scroll_to_top.html %}